<!DOCTYPE html>
<html ng-app="form">
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div id="body">
		<div ng-controller="StoreController as store">
			<h1>{{store.info.name}}</h1>
			<h2>{{store.info.address}}</h2>
			<h3>{{store.info.description}}</h3>

		</div>


	<!-- 	<div ng-controller="DemoCtrl" layout="column" ng-cloak class="md-inline-form">

	  <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
	    <div>
	      <md-input-container>
	        <label>Title</label>
	        <input ng-model="user.title">
	      </md-input-container>

	      <md-input-container>
	        <label>Email</label>
	        <input ng-model="user.email" type="email">
	      </md-input-container>
	    </div>
	  </md-content>

	  <md-content layout-padding>
	    <div>
	      <form name="userForm">

	        <div layout-gt-xs="row">
	          <md-input-container class="md-block" flex-gt-xs>
	            <label>Company (Disabled)</label>
	            <input ng-model="user.company" disabled>
	          </md-input-container>

	          <md-input-container>
	            <label>Enter date</label>
	            <md-datepicker ng-model="user.submissionDate"></md-datepicker>
	          </md-input-container>
	        </div>

	        <div layout-gt-sm="row">
	          <md-input-container class="md-block" flex-gt-sm>
	            <label>First name</label>
	            <input ng-model="user.firstName">
	          </md-input-container>

	          <md-input-container class="md-block" flex-gt-sm>
	            <label>Long Last Name That Will Be Truncated And 3 Dots (Ellipsis) Will Appear At The End</label>
	            <input ng-model="theMax">
	          </md-input-container>
	        </div>

	        <md-input-container class="md-block">
	          <label>Address</label>
	          <input ng-model="user.address">
	        </md-input-container>

	        <md-input-container md-no-float class="md-block">
	          <input ng-model="user.address2" placeholder="Address 2">
	        </md-input-container>

	        <div layout-gt-sm="row">
	          <md-input-container class="md-block" flex-gt-sm>
	            <label>City</label>
	            <input ng-model="user.city">
	          </md-input-container>

	          <md-input-container class="md-block" flex-gt-sm>
	            <label>State</label>
	            <md-select ng-model="user.state">
	              <md-option ng-repeat="state in states" value="{{state.abbrev}}">
	                {{state.abbrev}}
	              </md-option>
	            </md-select>
	          </md-input-container>

	          <md-input-container class="md-block" flex-gt-sm>
	            <label>Postal Code</label>
	            <input name="postalCode" ng-model="user.postalCode" placeholder="12345"
	                   required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

	            <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
	              <div ng-message="required" class="my-message">You must supply a postal code.</div>
	              <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
	                code.
	              </div>
	              <div ng-message="md-maxlength" class="my-message">
	                Don't use the long version silly...we don't need to be that specific...
	              </div>
	            </div>
	          </md-input-container>
	        </div>

	        <md-input-container class="md-block">
	          <label>Biography</label>
	          <textarea ng-model="user.biography" md-maxlength="150" rows="5" md-select-on-focus></textarea>
	        </md-input-container>

	      </form>
	    </div>
	  </md-content>

	</div> -->

	<div ng-controller="DemoCtrl" layout="column" layout-padding ng-cloak>

  <br/>
  <md-content class="md-no-momentum">
    <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Name</label>
      <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
      <input ng-model="user.name" type="text">
    </md-input-container>

    <md-input-container md-no-float class="md-block">
      <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
      <input ng-model="user.phone" type="text" placeholder="Phone Number">
    </md-input-container>

    <md-input-container class="md-block">
      <!-- Use floating placeholder instead of label -->
      <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
      <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
    </md-input-container>

    <md-input-container md-no-float class="md-block">
      <input ng-model="user.address" type="text" placeholder="Address" >
      <md-icon md-svg-src="img/icons/ic_place_24px.svg" style="display:inline-block;"></md-icon>
    </md-input-container>

    <md-input-container class="md-icon-float md-icon-right md-block">
      <label>Donation Amount</label>
      <md-icon md-svg-src="img/icons/ic_card_giftcard_24px.svg"></md-icon>
      <input ng-model="user.donation" type="number" step="0.01">
      <md-icon md-svg-src="img/icons/ic_euro_24px.svg"></md-icon>
    </md-input-container>

  </md-content>
<md-button md-no-ink class="md-primary">Primary (md-noink)</md-button>
  <button>Submit</button>

</div>
</div>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
	<script src="Script.js"></script>
</body>
</html>


